body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height to ensure the container expands vertically if needed */
    background-color: #333;
}

/* Center-container first child of the body  */
.center-container {
    text-align: center; /* Center text inside the container */
    max-width: 800px; /* Max width of content in the div */
    /* max-height: 1200px; */
}

/* background vided  */
.video1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .video1{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video1{
        width: auto;
        height: 100%;
    }
}
/* end background vided  */



#instructionsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 3s;
    perspective: 1000px; /* Perspective for 3D effect */
}
#instructionsdiv::after {
  display: none;
}


h2 {
    color: rgb(252, 253, 253);
    display: flex;
    justify-content: center;
    transform: translateZ(-500px) scale(0.2); /* Initial position and size */
    animation: flyIn 4s ease-in-out forwards; /* Animation properties */
}
h2::after{
  display: none;
}

@keyframes flyIn {
    0% {
        transform: translateZ(-500px) scale(0.2); /* Initial position and size */
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        transform: translateZ(0) scale(1); /* Final position and size */
        opacity: 1; /* End with opacity 1 */
    }
}

@keyframes flyOut {
  0% {
      transform: translateZ(0) scale(1); /* Initial position and size */
      opacity: 1; /* Start with opacity 0 */
  }
  100% {
      transform: translateZ(-500px) scale(0.2); /* Final position and size */
      opacity: 0; /* End with opacity 1 */
  }
}

#searchandbuttondiv {
    display: flex;
    justify-content: center;
    
    perspective: 1000px; /* Perspective for 3D effect */
    animation: flyIn 4s ease-in-out forwards; /* Animation properties */
    

}

#searchandbuttondiv::after {
  display: none;
}



/* for glowing button */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(0, 0%, 99%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.1em .7em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.3em;
  background: none;
  perspective: 3em;
  font-family: "Raleway", sans-serif;
  font-size: .9em;
  font-weight: 900;
  letter-spacing: .3em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* @media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
} */
/* end glowing button */

/* start search bar */
#inputsearch{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    background-color:hsla(0, 14%, 99%, 0.418);
    /* border: 3px 0px 0px 0px solid rgba(119, 23, 23, 0.623); */
    padding-right: 40px;
    color:rgb(248, 248, 250);
    cursor: cell;
  }
  #inputsearch::placeholder{
    color:rgb(227, 227, 235);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  #inputsearch:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:2.5px solid rgba(241, 234, 234, 0.637);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  /* end searchbar */



  #allstatsdiv {
    animation: flyIn 4s ease-in-out forwards; /* Animation properties */
    background-image: linear-gradient(to right, rgba(69, 31, 131, 0.212), rgba(7, 7, 14, 0.829));
    /* background-color: rgba(0, 0, 0, 0.63); */
    color: rgb(255, 255, 255);
    flex-grow: 1;
    width: 100%;
    font-size: 20px;
    cursor: crosshair;

    /* box-shadow: 20px 50px 10px 10px rgba(12, 12, 12, 0.658); */
  }
  #allstatsdiv:hover{
    background-color: black;
  }


 #buttondiv {
  display: none;
  flex-grow: 1;
  justify-content: center;
  
 }

 #spacetimebutton {
  width: 100%;
  animation: border-flicker 2s linear infinite;
  animation: text-flicker 3s linear infinite;
  color: #33333300;
  background-image: linear-gradient(to right, rgba(69, 31, 131, 0.212), rgba(7, 7, 14, 0.829));
  font-size: 15px;
  
  
 }

 #spacetimebutton:hover{
  animation: none;
  cursor: not-allowed;
  color: #ee0707;
  font-size: 15px;
  
 }

 #h2{
  padding-bottom: 0%;
 }

 #workdiv{
  max-width: 20em;
  /* word-wrap: break-word; */
 }


 /* mobile */
 @media (max-width: 600px) {
  .center-container {
      padding: 10px; /* Add some padding for better mobile display */
  }
  .video1 {
      height: auto; /* Adjust video height for mobile screens */
  }
  #inputsearch {
      width: 100%; /* Make the search bar full width on mobile screens */
  }
  #allstatsdiv {
      font-size: 16px; /* Adjust font size for smaller screens */
  }
  #spacetimebutton {
      font-size: 12px; /* Adjust button font size for smaller screens */
  }
  /* Add more mobile-specific styles as needed */
}